## Import necessary libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MultiLabelBinarizer
import numpy as np
from sklearn.preprocessing import OneHotEncoder

D:\Anaconda\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
D:\Anaconda\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
D:\Anaconda\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
D:\Anaconda\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
D:\Anaconda\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

## Load datasets

In [2]:

customers_df = pd.read_csv("Customers.csv")  # Customer data
transactions_df = pd.read_csv("Transactions.csv")  # Transaction data
products_df = pd.read_csv("Products.csv")  # Product data

###  Preview the data

In [3]:
print("\nCustomers Data:\n")
customers_df.head()  # First 5 rows of Customers data

Customers Data:

  CustomerID        CustomerName         Region  SignupDate
0      C0001    Lawrence Carroll  South America  2022-07-10
1      C0002      Elizabeth Lutz           Asia  2022-02-13
2      C0003      Michael Rivera  South America  2024-03-07
3      C0004  Kathleen Rodriguez  South America  2022-10-09
4      C0005         Laura Weber           Asia  2022-08-15

In [4]:
print("\nTransactions Data:\n")
transactions_df.head()  # First 5 rows of Transactions data

Transactions Data:

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68

In [5]:
print("\nProducts Data:\n")
products_df.head()  # First 5 rows of Products data

Products Data:

  ProductID              ProductName     Category   Price
0      P001     ActiveWear Biography        Books  169.30
1      P002    ActiveWear Smartwatch  Electronics  346.30
2      P003  ComfortLiving Biography        Books   44.12
3      P004            BookWorld Rug   Home Decor   95.69
4      P005          TechPro T-Shirt     Clothing  429.31

### Data Overview

In [6]:

customers_info = customers_df.info()
print("\n")
products_info = products_df.info()
print("\n")
transactions_info = transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    200 non-null    object
 1   CustomerName  200 non-null    object
 2   Region        200 non-null    object
 3   SignupDate    200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    100 non-null    object
 1   ProductName  100 non-null    object
 2   Category     100 non-null    object
 3   Price        100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.2+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    1000 non-null   object
 1   CustomerID       1000 non-null   object
 2   ProductID        1000 non-null   object
 3   TransactionDate  1000 non-null   object
 4   Quantity         1000 non-null   int64
 5   TotalValue       1000 non-null   float64
 6   Price            1000 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB

### Check for missing values

In [7]:

missing_values = {
    "Customers": customers_df.isnull().sum(),
    "Products": products_df.isnull().sum(),
    "Transactions": transactions_df.isnull().sum()
}


missing_values

{'Customers': CustomerID      0
 CustomerName    0
 Region          0
 SignupDate      0
 dtype: int64,
 'Products': ProductID      0
 ProductName    0
 Category       0
 Price          0
 dtype: int64,
 'Transactions': TransactionID      0
 CustomerID         0
 ProductID          0
 TransactionDate    0
 Quantity           0
 TotalValue         0
 Price              0
 dtype: int64}

### Check for Duplicates values

In [8]:
duplicated_value = {
    "Customers": customers_df.duplicated().sum(),
    "Products": products_df.duplicated().sum(),
    "Transactions": transactions_df.duplicated().sum()
}

duplicated_value

{'Customers': 0, 'Products': 0, 'Transactions': 0}

In [9]:
# Merge transactions with products to get product details
transactions_products = transactions_df.merge(products_df, on="ProductID", how="left")

# Merge with customers to get customer details
customer_data = transactions_products.merge(customers_df, on="CustomerID", how="left")

# Display the first few rows of the unified dataset
customer_data.head()

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price_x,ProductName,Category,Price_y,CustomerName,Region,SignupDate
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,ComfortLiving Bluetooth Speaker,Electronics,300.68,Andrea Jenkins,Europe,2022-12-03
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,ComfortLiving Bluetooth Speaker,Electronics,300.68,Brittany Harvey,Asia,2024-09-04
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,ComfortLiving Bluetooth Speaker,Electronics,300.68,Kathryn Stevens,Europe,2024-04-04
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,ComfortLiving Bluetooth Speaker,Electronics,300.68,Travis Campbell,South America,2024-04-11
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,ComfortLiving Bluetooth Speaker,Electronics,300.68,Timothy Perez,Europe,2022-03-15

## Task : Lookalike Model

In [10]:
# Aggregate features for each customer
customer_features = customer_data.groupby("CustomerID").agg({
    "ProductName": lambda x: list(x),  # List of products purchased
    "Category": lambda x: list(x),    # List of product categories
    "Quantity": "sum",                # Total quantity purchased
    "TotalValue": "sum",              # Total spending
    "Region": "first",                # Customer's region
}).reset_index()

In [11]:
# One-hot encode product categories per customer

mlb = MultiLabelBinarizer()
categories_encoded = pd.DataFrame(
    mlb.fit_transform(customer_features["Category"]),
    columns=mlb.classes_,
    index=customer_features.index
)

# Combine encoded categories with other features
customer_features = pd.concat([customer_features, categories_encoded], axis=1).drop(columns=["Category"])

# Display the transformed customer features
customer_features.head()

,CustomerID,ProductName,Quantity,TotalValue,Region,Books,Clothing,Electronics,Home Decor
0,C0001,"[SoundWave Cookbook, HomeSense Wall Art, Sound...",12,3354.52,South America,1,0,1,1
1,C0002,"[BookWorld Cookware Set, BookWorld Rug, Comfor...",10,1862.74,Asia,0,1,0,1
2,C0003,"[ActiveWear Cookware Set, ActiveWear Rug, Acti...",14,2725.38,South America,0,1,1,1
3,C0004,"[TechPro Textbook, TechPro Rug, TechPro Vase, ...",23,5354.88,South America,1,0,1,1
4,C0005,"[ActiveWear Cookware Set, TechPro Smartwatch, ...",7,2034.24,Asia,0,0,1,1

**Feature Extraction: Aggregated features like total spending, categories purchased (one-hot encoded), and quantity are used to represent customers.**

In [18]:

# Extract features for similarity computation (numerical columns)
feature_columns = ['Quantity', 'TotalValue', 'Books', 'Clothing', 'Electronics', 'Home Decor']
feature_matrix = customer_features[feature_columns].values

# Compute cosine similarity
similarity_matrix = cosine_similarity(feature_matrix)

similarity_matrix

array([[1.        , 0.99999813, 0.99999867, ..., 0.99999897, 0.99999944,
        0.99999994],
       [0.99999813, 1.        , 0.99999988, ..., 0.99999683, 0.99999939,
        0.99999784],
       [0.99999867, 0.99999988, 1.        , ..., 0.9999976 , 0.99999974,
        0.99999837],
       ...,
       [0.99999897, 0.99999683, 0.9999976 , ..., 1.        , 0.99999825,
        0.9999992 ],
       [0.99999944, 0.99999939, 0.99999974, ..., 0.99999825, 1.        ,
        0.99999917],
       [0.99999994, 0.99999784, 0.99999837, ..., 0.9999992 , 0.99999917,
        1.        ]])

**Similarity Measure: Cosine similarity computes how close customers are in this feature space.**

In [25]:
# Create a DataFrame to store results
customer_ids = customer_features["CustomerID"]
similarity_df = pd.DataFrame(similarity_matrix, index=customer_ids, columns=customer_ids)
similarity_df

CustomerID,C0001,C0002,C0003,C0004,C0005,C0006,C0007,C0008,C0009,C0010,...,C0191,C0192,C0193,C0194,C0195,C0196,C0197,C0198,C0199,C0200
CustomerID,,,,,,,,,,,,,,,,,,,,,
C0001,1.000000,0.999998,0.999999,1.000000,1.000000,1.000000,1.000000,0.999999,0.999999,0.999994,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.999999,0.999999,0.999999,0.999999,1.000000
C0002,0.999998,1.000000,1.000000,0.999999,0.999998,0.999997,0.999997,1.000000,0.999997,0.999998,...,0.999998,0.999998,0.999998,0.999998,0.999999,0.999995,0.999999,0.999997,0.999999,0.999998
C0003,0.999999,1.000000,1.000000,1.000000,0.999998,0.999997,0.999998,1.000000,0.999998,0.999998,...,0.999999,0.999999,0.999999,0.999999,1.000000,0.999996,1.000000,0.999998,1.000000,0.999998
C0004,1.000000,0.999999,1.000000,1.000000,1.000000,0.999999,0.999999,1.000000,0.999998,0.999996,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.999998,1.000000,0.999998,1.000000,1.000000
C0005,1.000000,0.999998,0.999998,1.000000,1.000000,1.000000,1.000000,0.999999,0.999999,0.999993,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.999999,0.999999,0.999999,0.999999,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C0196,0.999999,0.999995,0.999996,0.999998,0.999999,1.000000,1.000000,0.999997,0.999998,0.999989,...,0.999999,0.999999,0.999999,0.999999,0.999998,1.000000,0.999997,0.999999,0.999997,1.000000
C0197,0.999999,0.999999,1.000000,1.000000,0.999999,0.999998,0.999999,1.000000,0.999998,0.999997,...,0.999999,0.999999,0.999999,0.999999,1.000000,0.999997,1.000000,0.999998,1.000000,0.999999
C0198,0.999999,0.999997,0.999998,0.999998,0.999999,0.999999,0.999999,0.999998,1.000000,0.999992,...,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999998,1.000000,0.999998,0.999999
C0199,0.999999,0.999999,1.000000,1.000000,0.999999,0.999998,0.999999,1.000000,0.999998,0.999996,...,0.999999,0.999999,0.999999,0.999999,1.000000,0.999997,1.000000,0.999998,1.000000,0.999999
C0200,1.000000,0.999998,0.999998,1.000000,1.000000,1.000000,1.000000,0.999999,0.999999,0.999993,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.999999,0.999999,0.999999,1.000000

In [26]:
# Get top 3 similar customers for the first 20 customers (C0001 - C0020)
top_customers = customer_ids[:20]
lookalikes = {}

for cust_id in top_customers:
    # Get similarity scores for the current customer, excluding itself
    similar_scores = similarity_df[cust_id].drop(index=cust_id).sort_values(ascending=False).head(3)
    lookalikes[cust_id] = similar_scores.index.tolist(), similar_scores.values.tolist()

# Prepare the Lookalike.csv output
lookalike_output = pd.DataFrame([{
    "CustomerID": cust_id,
    "Lookalikes": list(zip(lookalikes[cust_id][0], lookalikes[cust_id][1]))
} for cust_id in lookalikes])


lookalike_output

   CustomerID                                         Lookalikes
0       C0001  [(C0177, 0.9999999848631079), (C0127, 0.999999...
1       C0002  [(C0003, 0.9999998770103186), (C0062, 0.999999...
2       C0003  [(C0031, 0.999999962672191), (C0002, 0.9999998...
3       C0004  [(C0175, 0.9999999801354358), (C0017, 0.999999...
4       C0005  [(C0069, 0.9999999786704178), (C0007, 0.999999...
5       C0006  [(C0079, 0.999999999869063), (C0051, 0.9999999...
6       C0007  [(C0064, 0.999999942892985), (C0152, 0.9999999...
7       C0008  [(C0113, 0.9999999925381394), (C0075, 0.999999...
8       C0009  [(C0198, 0.9999999901629575), (C0092, 0.999999...
9       C0010  [(C0049, 0.9999998210678243), (C0091, 0.999999...
10      C0011  [(C0107, 0.9999999847833091), (C0105, 0.999999...
11      C0012  [(C0018, 0.9999999907748699), (C0065, 0.999999...
12      C0013  [(C0099, 0.9999999914287069), (C0054, 0.999999...
13      C0014  [(C0144, 0.9999968835618915), (C0043, 0.999996...
14      C0015  [(C0131, 0.9999998672884234), (C0123, 0.999999...
15      C0016  [(C0074, 0.9999999921151633), (C0040, 0.999999...
16      C0017  [(C0169, 0.999999999774255), (C0113, 0.9999999...
17      C0018  [(C0012, 0.9999999907748699), (C0041, 0.999999...
18      C0019  [(C0075, 0.9999998585992005), (C0027, 0.999999...
19      C0020  [(C0130, 0.9999998298120051), (C0120, 0.999999...

**Cosine Similarity: Since cosine similarity ranges from 0 to 1, higher values indicate a strong resemblance between two customers. The similarity scores in the output (e.g., ~0.9999) show high closeness in behavior and preferences.**

**High Similarity Scores: The High similarity scores (~0.9999) for most pairs suggest possible overfitting due to the dominance of specific features like TotalValue.**

In [13]:
#  Validate recommendations

for cust_id, (similar_ids, scores) in lookalikes.items():
    print(f"\nCustomer: {cust_id}")
    print(f"Top 3 Lookalikes: {similar_ids}")
    print(f"Similarity Scores: {scores}")

    # Compare features for validation
    current_features = customer_features[customer_features["CustomerID"] == cust_id]
    similar_features = customer_features[customer_features["CustomerID"].isin(similar_ids)]
    print(f"Region: {current_features['Region'].values[0]}")
    print(f"TotalValue: {current_features['TotalValue'].values[0]}")
    print(similar_features[["CustomerID", "Region", "TotalValue"]])

Customer: C0001
Top 3 Lookalikes: ['C0177', 'C0127', 'C0012']
Similarity Scores: [0.9999999848631079, 0.9999999845474193, 0.9999999813451149]
Region: South America
TotalValue: 3354.5200000000004
    CustomerID         Region  TotalValue
11       C0012  South America     5231.26
126      C0127         Europe     3232.88
176      C0177           Asia     2509.81

Customer: C0002
Top 3 Lookalikes: ['C0003', 'C0062', 'C0030']
Similarity Scores: [0.9999998770103186, 0.9999998750956173, 0.9999998657876807]
Region: Asia
TotalValue: 1862.74
   CustomerID         Region  TotalValue
2       C0003  South America     2725.38
29      C0030  North America     2549.68
61      C0062         Europe     1639.54

Customer: C0003
Top 3 Lookalikes: ['C0031', 'C0002', 'C0075']
Similarity Scores: [0.999999962672191, 0.9999998770103186, 0.9999998666386807]
Region: South America
TotalValue: 2725.38
   CustomerID         Region  TotalValue
1       C0002           Asia     1862.74
30      C0031  South America     2005.38
74      C0075         Europe     5848.97

Customer: C0004
Top 3 Lookalikes: ['C0175', 'C0017', 'C0162']
Similarity Scores: [0.9999999801354358, 0.9999999695543604, 0.999999969121501]
Region: South America
TotalValue: 5354.88
    CustomerID  Region  TotalValue
16       C0017  Europe     4753.82
161      C0162    Asia     4802.24
174      C0175    Asia     6210.53

Customer: C0005
Top 3 Lookalikes: ['C0069', 'C0007', 'C0127']
Similarity Scores: [0.9999999786704178, 0.9999999313607857, 0.9999999181984466]
Region: Asia
TotalValue: 2034.24
    CustomerID  Region  TotalValue
6        C0007    Asia     2579.82
68       C0069  Europe     2878.69
126      C0127  Europe     3232.88

Customer: C0006
Top 3 Lookalikes: ['C0079', 'C0051', 'C0100']
Similarity Scores: [0.999999999869063, 0.9999999785211595, 0.9999999771918582]
Region: South America
TotalValue: 4227.57
   CustomerID         Region  TotalValue
50      C0051         Europe     5699.57
78      C0079  North America     4251.56
99      C0100         Europe     5003.45

Customer: C0007
Top 3 Lookalikes: ['C0064', 'C0152', 'C0163']
Similarity Scores: [0.999999942892985, 0.9999999369879938, 0.9999999361623322]
Region: Asia
TotalValue: 2579.8199999999997
    CustomerID         Region  TotalValue
63       C0064         Europe     4039.77
151      C0152  South America     3385.86
162      C0163  South America     5775.28

Customer: C0008
Top 3 Lookalikes: ['C0113', 'C0075', 'C0190']
Similarity Scores: [0.9999999925381394, 0.9999999865065343, 0.9999999794849265]
Region: North America
TotalValue: 4271.61
    CustomerID         Region  TotalValue
74       C0075         Europe     5848.97
112      C0113  South America     4812.10
188      C0190  South America     2983.02

Customer: C0009
Top 3 Lookalikes: ['C0198', 'C0092', 'C0020']
Similarity Scores: [0.9999999901629575, 0.9999993850734735, 0.9999993729866584]
Region: Europe
TotalValue: 896.5
    CustomerID         Region  TotalValue
19       C0020  North America      922.41
91       C0092           Asia     3015.95
196      C0198         Europe      931.83

Customer: C0010
Top 3 Lookalikes: ['C0049', 'C0091', 'C0094']
Similarity Scores: [0.9999998210678243, 0.9999995066531382, 0.9999992942079358]
Region: Europe
TotalValue: 1717.5500000000002
   CustomerID         Region  TotalValue
48      C0049  North America     2315.48
90      C0091  South America     3137.66
93      C0094  North America     1166.97

Customer: C0011
Top 3 Lookalikes: ['C0107', 'C0105', 'C0101']
Similarity Scores: [0.9999999847833091, 0.9999999822467244, 0.9999999814705227]
Region: South America
TotalValue: 3730.0
    CustomerID         Region  TotalValue
100      C0101           Asia     5550.99
104      C0105         Europe     4807.45
106      C0107  South America     3623.92

Customer: C0012
Top 3 Lookalikes: ['C0018', 'C0065', 'C0001']
Similarity Scores: [0.9999999907748699, 0.9999999885477011, 0.9999999813451149]
Region: South America
TotalValue: 5231.259999999999
   CustomerID         Region  TotalValue
0       C0001  South America     3354.52
17      C0018  North America     4781.85
64      C0065  North America     7663.70

Customer: C0013
Top 3 Lookalikes: ['C0099', 'C0054', 'C0082']
Similarity Scores: [0.9999999914287069, 0.9999999894752394, 0.999999988785475]
Region: South America
TotalValue: 6000.56
   CustomerID         Region  TotalValue
53      C0054           Asia     8040.39
81      C0082  South America     7572.91
98      C0099  South America     6715.72

Customer: C0014
Top 3 Lookalikes: ['C0144', 'C0043', 'C0134']
Similarity Scores: [0.9999968835618915, 0.9999962050120097, 0.9999960618154475]
Region: Europe
TotalValue: 318.66
    CustomerID         Region  TotalValue
42       C0043           Asia     1131.32
133      C0134           Asia     2679.28
143      C0144  North America     1304.68

Customer: C0015
Top 3 Lookalikes: ['C0131', 'C0123', 'C0167']
Similarity Scores: [0.9999998672884234, 0.9999997983387631, 0.9999997210325205]
Region: North America
TotalValue: 1157.48
    CustomerID         Region  TotalValue
122      C0123           Asia     1400.06
130      C0131  North America     1943.82
166      C0167         Europe     2300.42

Customer: C0016
Top 3 Lookalikes: ['C0074', 'C0040', 'C0115']
Similarity Scores: [0.9999999921151633, 0.9999999647464044, 0.9999999625330869]
Region: North America
TotalValue: 3874.42
    CustomerID  Region  TotalValue
39       C0040    Asia     3969.40
73       C0074  Europe     3055.22
114      C0115    Asia     3137.18

Customer: C0017
Top 3 Lookalikes: ['C0169', 'C0113', 'C0039']
Similarity Scores: [0.999999999774255, 0.9999999880819389, 0.9999999839381692]
Region: Europe
TotalValue: 4753.82
    CustomerID         Region  TotalValue
38       C0039  South America     4239.60
112      C0113  South America     4812.10
168      C0169  South America     4533.32

Customer: C0018
Top 3 Lookalikes: ['C0012', 'C0041', 'C0045']
Similarity Scores: [0.9999999907748699, 0.9999999832396261, 0.9999999819056652]
Region: North America
TotalValue: 4781.85
   CustomerID         Region  TotalValue
11      C0012  South America     5231.26
40      C0041         Europe     6149.78
44      C0045           Asia     6021.80

Customer: C0019
Top 3 Lookalikes: ['C0075', 'C0027', 'C0008']
Similarity Scores: [0.9999998585992005, 0.9999998579944416, 0.9999998339213318]
Region: Europe
TotalValue: 2185.8199999999997
   CustomerID         Region  TotalValue
7       C0008  North America     4271.61
26      C0027           Asia     2562.94
74      C0075         Europe     5848.97

Customer: C0020
Top 3 Lookalikes: ['C0130', 'C0120', 'C0005']
Similarity Scores: [0.9999998298120051, 0.9999996927304761, 0.9999996858178151]
Region: North America
TotalValue: 922.41
    CustomerID         Region  TotalValue
4        C0005           Asia     2034.24
119      C0120  South America     2470.02
129      C0130  South America      601.36

**Feature Correlation: Validation steps comparing regions and spending (e.g., TotalValue) confirm the logical consistency of recommendations. For instance:**

   For Customer C0001:
   - Region Check: The top similar customer, C0012, shares the same region (South America) and similar TotalValue (3354.52 vs. 5231.26).
   - Other Matches: C0177 and C0127 differ in regions but align well on other features like spending and product category patterns.

In [28]:
# Save the lookalikes to a CSV file
lookalike_output_path = "C:/Users/shrey/Desktop/Internship task/Shreyas_Kumbhar_Lookalike.csv"
lookalike_output.to_csv(lookalike_output_path, index=False)

In [29]:
lookalike_output_path

'C:/Users/shrey/Desktop/Internship task/Shreyas_Kumbhar_Lookalike.csv'